﻿@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'OpenSansRegular';
    src: url("");
    src: local('☺'), url("opensans-regular-webfont.woff") format('woff'), url("opensans-regular-webfont.ttf") format('truetype'), url("opensans-regular-webfont.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansRegular';
    src: url("");
    src: local('☺'), url("pt_sans-regular-webfont.woff") format('woff'), url("pt_sans-regular-webfont.ttf") format('truetype'), url("pt_sans-regular-webfont.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url("");
    src: local('☺'), url("opensans-bold-webfont.woff") format('woff'), url("opensans-bold-webfont.ttf") format('truetype'), url("opensans-bold-webfont.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url("");
    src: local('☺'), url("opensans-condlight-webfont.woff") format('woff'), url("opensans-condlight-webfont.ttf") format('truetype'), url("opensans-condlight-webfont.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	position:relative;
	margin:0;
	padding:0;
	min-width:980px;
	height:100%;
	background: url("bg_body_in.jpg");
	color:#282828;
	font:normal 14px Arial, Helvetica, sans-serif;
}
a { outline-style:none;color:#925D28;text-decoration:underline; background: transparent;}
	a:hover {color:#925D28; text-decoration:none; cursor:pointer;}
		a img {border-color:#925D28;}
		
h1 {
	margin:0;
	padding:0;
	color:#3D1C00;
	font:normal 30px 'OpenSansRegular', Arial, Helvetica, sans-serif;
}

h2,h3,h4,h5,h6 { margin:10px 0; padding:0; color:#3D1C00; font-weight:normal; font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;}
h2 { font-size:18px;}
h3 { font-size:16px;}
h4 { font-size:13px;}
h5,h6 { font-size:10px;}

.thumb {color:#000;}

/*====================================================== tables ======================================================*/

table.table0 { border-collapse:collapse;}
	table.table0 td { padding:5px; border: none;}

table.table1 { border-collapse:collapse;}

		table.table1 td { padding:5px; border: 1px solid #999;}

table.table2 { border-collapse:collapse;}

		table.table2 td { padding:5px; border: 1px solid #999;}
			table.table2 th { padding:8px 5px; border: 1px solid #999; background-color:#C9AE96; color:#fff; text-align:left;}

/*====================================================== gallery =====================================================*/

table.gallery {border-spacing:10px; border-collapse:separate;}
	table.gallery td { padding:15px;background:none; text-align:center;}
		table.gallery td img { }

hr {height:1px;border:none; background:#c89c24; font-size:0; line-height:0;}
.YMaps { color:#000; } 
/*======================================================= main =======================================================*/
.site-wrap {
  	margin:0 auto -186px;
	background: url("bg_body.jpg") no-repeat top center;
}
.site-wrap-in{
	margin:0 auto;
	min-height:100%;
	height:auto !important;
	height:100%;
	width: 980px;
}
.clear-footer {
	clear:both;
	height:186px;
}
.clear {clear:both; font-size:0; line-height:0;}
/*====================================================== header ======================================================*/
header {
	position:relative;
	height:500px;
	margin-bottom: 18px;
}
.site-logo{
	position:absolute;
	top:7px;
	left:15px;
}
.site-logo img{
	border:none;
}
.site-slogan{
	position:absolute;
	top:121px;
	left:150px;
	width:570px;
	height:20px;
	overflow:hidden;
	color:#855E37;
	font:normal 13px 'OpenSansRegular', Arial, Helvetica, sans-serif;
}
.site-slogan p{
	margin:0;
}
/*======================================================= phone ======================================================*/
.phone-top-box{
	position:absolute;
	top:173px;
	right:20px;
	width:160px;
	height:80px;
	overflow:hidden;
	color:#3D1C00;
	font:normal 20px 'OpenSansRegular', Arial, Helvetica, sans-serif;
	text-align: right;
}
.phone-top-box p{
	margin:0;
}
.phone-top{
	font:normal 20px 'OpenSansRegular', Arial, Helvetica, sans-serif;
}
/*======================================================= order ======================================================*/
.order-top-box{
	position:absolute;
	top:171px;
	right:237px;
	width:144px;
	height:25px;
	overflow:hidden;
	text-align: right;
}
.order-top-box:hover{
	text-decoration: underline;
	color: #3D1C00;
}
.order-top-box p{
	margin:0;
}
.order-top-box a{
	font:normal 18px 'OpenSansBold', Arial, Helvetica, sans-serif;	
	color:#3D1C00;
}
.order-top-box a:hover{
	text-decoration: underline;
}
/*======================================================= list ======================================================*/
.list-top-box{
	position:absolute;
	top:207px;
	right:249px;
	width:119px;
	height:80px;
	overflow:hidden;
	text-align: right;
}
.list-top-box:hover{
	text-decoration: underline;
	color: #3D1C00;
}
.list-top-box p{
	margin:0;
}
.list-top-box a{
	color:#3D1C00;
	font:normal 18px 'OpenSansBold', Arial, Helvetica, sans-serif;
}
.list-top-box a:hover{
	text-decoration: underline;
}
/*======================================================= header-block ======================================================*/
.header-block{
	position: absolute;
	top: 160px;
	left: 0;
	color: #3D1C00;
	display: inline-block;
}
.header-block p{
	margin:0;
}
.hblock-box{
 	text-align: center;
 	width: 151px;
 	float: left;
}
.hblock-box img{
	width: 46px;
	height: 45px;
}
.hblock-box a{
	display: inline-block;
	text-align: center;
	font:normal 16px 'OpenSansRegular', Arial, Helvetica, sans-serif;
	color: #3D1C00;
}
.hblock-box a:hover{
	text-decoration: underline;
	color: #3D1C00;
}
/*======================================================= blockinfo ======================================================*/
.blockinfo-top-box{
	position:absolute;
	top:261px;
	left:350px;
	width:320px;
	height:150px;
	overflow:hidden;
	color:#3D1F07;
	font:normal 13px 'OpenSansRegular', Arial, Helvetica, sans-serif;
}
.blockinfo-top-box a{
	text-decoration: underline;
	color: #3D1C00;
}
.blockinfo-top-box a:hover{
	text-decoration: underline;
	color: #3D1C00;
}
.blockinfo-top-box p{
	margin:0;
}
/*===================================================== top menu  ====================================================*/
.menu-top-box{float:right; margin:445px 0 0 0;width: 100%; background:url("bg_tmenu.jpg") no-repeat;}
.menu-top {margin:0; padding:7px 0 0; height:48px; list-style:none; font:normal 16px Arial, Helvetica, sans-serif; overflow: hidden; text-align: center;}
.menu-top li{display: inline-block; margin:0; /*margin:0 0 0 -1px;*/ padding:0;}
.menu-top li:first-child{background:none;}
.menu-top li a{display:block; padding:12px 14px 11px; color:#3D1C00; text-decoration:none;/*position:relative; z-index:1;*/ cursor:pointer;}
.menu-top li a:hover{ background:#FFE2C5;text-decoration:none;}
/*===================================================== block-news ======================================================*/
.block-news{
	font:normal 13px Arial, Helvetica, sans-serif;
	color: #282828;
	display: inline-block;
	padding-bottom: 17px;
}
.block-news-box:first-child{background: none;}

.block-news p{
	margin:0; 
}
.block-news-box{
	float: left;
 	width: 201px;
 	background: url("br_block_news.jpg") no-repeat left top;
	padding:0 20px 0 20px;
}
.box-title{
	font:normal 24px 'OpenSansRegular', Arial, Helvetica, sans-serif;
	color: #3D1C00;
	margin: 4px 0 12px;
}
.box-text{
}
.link-box{
	display: block;
	width: 76px;
	height: 17px;
	padding: 1px 0 0 5px;
	margin-top: 12px;
	background: #BA9E81;
	color: #EED1B4;
	font:normal 14px 'OpenSansCondensedLight', Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.link-box:hover{
	background: #FBA510;
	color: #FFE2C5;
}
.block-news:after {display:block; clear:both; content:"."; visibility:hidden; line-height:0;}
/*===================================================== content ======================================================*/
.site-content-wrap { position: relative; width: 100%; margin:0 0 30px;}
.site-content-wrap:after {display:block; visibility:hidden; clear:both; content:"."; line-height:0;}

.site-content { float: left;width: 100%; border-top: 1px solid #8F6031;}
.site-content-middle { margin:0 0 0 245px;padding:0 20px 20px 0; min-height: 0; position: relative;}
.bglb-content{position: absolute; bottom: -10px; right: -10px; width: 191px; height: 191px; background: url("bglb_content.png") no-repeat;}
/*==================================================== left column ===================================================*/
aside.left-sidebar { position: relative; float: left; margin-left: -100%; width: 215px; position: relative; padding: 16px 0 0;}
.bglside{position: absolute; top:15px; left:-3px; width: 1px; height: 639px; background: url("bglside.png") no-repeat;}
/*====================================================  left menu  ===================================================*/
.menu-left-box{margin:0; border-bottom:1px solid #8F6031; padding:0 0 12px;}
.menu-left{padding:0; margin:0; list-style:none; font:normal 16px Arial, Helvetica, sans-serif;}
.menu-left .level1{padding:0; margin:0;}
.menu-left .level1 a{display:inline-block;     padding:5px 21px; cursor:pointer; color:#282828; text-decoration:none;}
.menu-left .level1 span { display:block;}
.menu-left .level1 a:hover{color:#AC470A; text-decoration:none;}

.menu-left .level{padding:5px 11px 5px 34px; margin:0; cursor:default; font-size: 14px; background: url("") no-repeat 24px center;}
.menu-left .level a{display: inline-block; cursor:pointer; color:#282828;}
.menu-left .level a span{display: inline-block; padding: 0 12px 0 0; background: url("") no-repeat right center; text-decoration:underline;}
.menu-left .level a span:hover{ background: none; text-decoration: none;}
.menu-left .level a:hover{color:#AC470A;}
.menu-left .level:hover { background: url("") no-repeat 24px center;}


.menu-left .level3{padding-left:60px; background: url("") no-repeat 44px center;}
.menu-left .level3:hover { background: url("") no-repeat 44px center;}

.menu-left .level4{padding-left:80px; background: url("") no-repeat 64px center;}
.menu-left .level4:hover { background: url("") no-repeat 64px center;}

.menu-left .level2-first{padding-top:9px;}
.menu-left .level2-last{padding-bottom:9px;}
/*====================================================== block  ======================================================*/
.block-box{
	margin:0 0 20px;
}
.block-title{
	padding:10px 22px 6px;
	color:#3D1C00;
	font:normal 25px 'OpenSansRegular', Arial, Helvetica, sans-serif;
}
.block-text{
	padding:0px 21px;
	color:#282828;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.block-text a{
	color:#AD5D28;
}
.block-text a:hover{
	color:#AD5D28;
}
/*======================================================  news  ======================================================*/
.news-box{
	margin:0 0 30px;
}
.news-name{
	padding:10px 17px 6px;
	color:#3D1C00;
	font:normal 26px 'PTSansRegular', Arial, Helvetica, sans-serif;
}
.all-news{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #925D28;
	margin: -8px 0 0 21px;
	display: block;
}
.all-news:hover{
	text-decoration: underline;
	color: #925D28;
}
.news-wrap{
	margin:0;
	padding:2px 18px 10px;
}
.news-date{
	display:block;
	width: 65px;
	height: 16px;
	padding:2px 0 0;
	margin:0 0 5px 1px; 
	color:#000;
	background: #F1D194;
	font:normal 11px Arial, Helvetica, sans-serif;
	text-align: center;
}
.news-title{ margin:0;padding-bottom:15px;}
	.news-title a{ color:#925D28; text-decoration:underline;font:normal 14px Arial, Helvetica, sans-serif;}
		.news-title a:hover{text-decoration:none;}
			
.news-note{ padding-bottom:10px; color:#282828; font:normal 13px Arial, Helvetica, sans-serif;}
	.news-note p{ margin:0;}
	
.news-more{text-align:right;}
	.news-more a{ color:#09F; text-decoration:underline;font:normal 11px Arial, Helvetica, sans-serif;}
		.news-more a:hover{text-decoration:none;}	
/*===================================================== informers ====================================================*/		
.informer{text-align:center;}
/*====================================================== content =====================================================*/
.site-path{
	color:#282828;
	font: normal 11px Arial, Helvetica, sans-serif;
	margin: 23px 0 7px;
}
.site-path a{
	display:inline-block;
	color:#925D28;
}
.content-box{
	padding:0;
}
/*====================================================== footer ======================================================*/
footer{
	height:186px;
	background:url("bg_footer.jpg") repeat-x top;
}
.footer-in{
	position:relative;
	margin:0 auto;
	width: 980px;
	font:normal 10px Arial, Helvetica, sans-serif;
}
/*==================================================== bottom menu ===================================================*/
.menu-bottom-box{float:right; width: 100%;}
.menu-bottom {margin:0; padding:0; height:59px; text-align: center; list-style:none; font:normal 12px Arial, Helvetica, sans-serif; overflow: hidden;}
.menu-bottom li{display: inline-block; margin:0; /*margin:0 0 0 -1px;*/padding:22px 12px;}
.menu-bottom li:first-child{background:none;}
.menu-bottom li a{display:block; color:#FFE2C5; text-decoration:underline; cursor:pointer; /*position:relative; z-index:1;*/}
.menu-bottom li a:hover{text-decoration:none;}

.site-name-bottom{
	position:absolute;
	top:72px;
	right:16px;
	width:300px;
	height:15px;
	overflow:hidden;
	font-size: 11px;
	color: #8B7259;
	text-align: right;
}
.phone-bottom{
	position:absolute;
	top:85px;
	left:250px;
	width:230px;
	font:normal 13px Arial, Helvetica, sans-serif;
	color:#8B7259;
}
.phone-bottom p{
	margin:0;
}
.phone-bottom a{
	color:#8B7259;
}
.site-counters{
	position:absolute;
	top:117px;
	right:16px;
	width:350px;
	height:32px;
	overflow:hidden;
	text-align:right;
}
.site-counters a{color:#8B7259; text-decoration:underline;}
.site-counters a:hover{text-decoration:none;}

.site-copyright{
	position:absolute;
	top:96px;
	right:16px;
	width:300px;
	text-align:right;
	font-size: 11px;
	color: #8B7259;
}
.site-copyright a{color:#8B7259; text-decoration:underline;}
.site-copyright a:hover{text-decoration:none;}
/*==================================================== icons-block ===================================================*/
.icons-block{
	position: absolute;
	top:85px;
	left:26px;
	width: 195px;
	height: 23px;
	text-align: left;
}
.icons-block a{
	margin-right: 5px;
}
.icons_vk{
	display: block;
	float: left;
	width: 23px;
	height: 23px;
	background: url("vk.jpg") no-repeat;
}
.icons_fc{
	display: block;
	float: left;
	width: 23px;
	height: 23px;
	background: url("fc.jpg") no-repeat;
}
.icons_tw{
	display: block;
	float: left;
	width: 22px;
	height: 23px;
	background: url("tw.jpg") no-repeat;
}
.icons_g{
	display: block;
	float: left;
	width: 23px;
	height: 23px;
	background: url("g.jpg") no-repeat;
}
.icons_ya{
	display: block;
	float: left;
	width: 23px;
	height: 23px;
	background: url("ya.jpg") no-repeat;
}
.icons_ml{
	display: block;
	float: left;
	width: 22px;
	height: 23px;
	background: url("ml.jpg") no-repeat;
}
.icons_ok{
	display: block;
	float: left;
	width: 23px;
	height: 23px;
	background: url("ok.jpg") no-repeat;
}
/*=====================================================  search  =====================================================*/
.search{
	position:absolute;
	top:125px;
	left:26px;
}
form#search-form {
	margin:0;
	padding:0;
	width:192px;
	height:23px;
	background:url("search.jpg") no-repeat;
}
#search-text{
	float:left;
	margin:0 5px;
	padding:4px 0;
	width:155px;
	outline:none;
	border:none;
	background:transparent;
	color:#6A421B;
	font:normal 12px Arial, Helvetica, sans-serif;
}
#search-button {
	float:left;
	margin:0;
	padding:0;
	width:21px;
	height:23px;
	border:none;
	background:transparent;
	cursor:pointer;
}
#search-button:hover {
	cursor:pointer;
}
/*dm.b.*/